<h1>This is rock, paper scissors.</h1>
</br>
<p>Player 1 enters their selection into the first section, and player 2 enters their selection in the second. That's it. </br></br>Navigate to PLAY to start.</p>
