<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href='/'><li>Home</li></a>
        <a href='/play'><li>PLAY</li></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
